<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tous les profils</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

</head>
<body>


<div class="container">

    <h1>Liste des Profils skype  :</h1>
          <a href="profilsAdd">Ajouter profil skype</a>
      	<br/><br/>
	<table border="1">
		<thead>
			<tr>
				<th>UID</th>
				<th>SIP</th>
				<th>enterpriseVoiceEnabled</th>
				<th>voicePolicy</th>
				<th>dialPlan</th>
				<th>samAccountName</th>
				<th>exUmEnabled</th>
				<th>exchUser</th>
				<th>objectClass</th>
				<th>statusProfile</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${skypeProfiles.empty}">
				<td colspan="2"> Pas de profil skype disponible </td>
			<tr th:each="skypeProfile:${skypeProfiles}">
				<td th:text=${skypeProfile.collaboraterId}>UID</td>
				<td th:text=${skypeProfile.SIP}>SIP</td>
				<td th:text=${skypeProfile.enterpriseVoiceEnabled}>enterpriseVoiceEnabled</td>
				<td th:text=${skypeProfile.voicePolicy}>voicePolicy</td>
				<td th:text=${skypeProfile.dialPlan}>dialPlan</td>
				<td th:text=${skypeProfile.samAccountName}>samAccountName</td>
				<td th:text=${skypeProfile.exUmEnabled}>exUmEnabled</td>
				<td th:text=${skypeProfile.exchUser}>exchUser</td>
				<td th:text=${skypeProfile.objectClass}>objectClass</td>
				<td th:text=${skypeProfile.statusProfile}>statusProfile</td>
				<td>
       				<a th:href="@{|update2/${skypeProfile}|}"><span>Edit</span></a>
				</td>
				<td>
       				<a th:object="${skypeProfile}" th:href="@{update}"><span>Edit2</span></a>
				</td>
				<td>
       				<a th:href="@{update}"><span>Edit2</span></a>
				</td>
  			<td>
					<form th:action="update" th:object="${toto}" method="POST">
					   	<input type="hidden" th:field="${skypeProfile}" />
					    <button type="submit">Delete</button>
					</form>
				</td>

				<td>
       				<a th:href="@{update2/${skypeProfile}}"><span>Delete</span></a>
				</td>
			</tr>	
		</tbody>
	</table>

</div>
    

</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>